.card {
  position: absolute;
  background-color: #eae2b7;
  width: 900px;
  height: 670px;
  top: 5px;
  left: 15px;
  box-shadow: -5px -5px 100px rgba(0, 0, 0, 0.4);
}

.card:before {
  content: "";
  position: absolute;
  border: 3px solid #003049;
  border-style: dotted;
  width: 880px;
  height: 540px;
  left: 12px;
  top: 12px;
}

.text {
  position: absolute;
  font-family: "Brush Script MT", cursive;
  font-size: 27px;
  text-align: left;
  line-height: 27px;
  top: 20px;
  left: 20px;
  color: #003049;
  font-size: small;
}
.heart {
  background-color: #d62828;
  display: inline-block;
  height: 30px;
  margin: 0 10px;
  position: relative;
  top: 400px;
  left: 200 px;
  transform: rotate(-45deg);
  width: 30px;
}
.heart:before,
.heart:after {
  content: "";
  background-color: #d62828;
  border-radius: 50%;
  height: 30px;
  position: absolute;
  width: 30px;
}
.heart:before {
  top: -15px;
  left: 0;
}
.heart:after {
  left: 15px;
  top: 0;
}
